.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 10;
    -fx-text-fill: yellow;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #000000;
}

#compile {
    -fx-background-color: 
        linear-gradient(#ffffff, #ffffff),
        linear-gradient(#fcfcfc 0%, #ffffff 20%, #ffffff 100%),
        linear-gradient(#ffffff 0%, #ffffff 50%);
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


#compile:hover{
    -fx-background-color: #969c96;
}