.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 10;
    -fx-text-fill: yellow;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #000000;
}

#compile {
    -fx-background-color: #354b35;
    -fx-text-fill: white;
}

#compile:hover{
    -fx-background-color: #648a64;
}