
.keyword{
    -fx-fill: rgb(194, 226, 119) !important;
}


.paragraph-text .text{
    -fx-fill: rgb(255, 255, 255);
}

.styled-text-area {
    -fx-background-color: #323232;
}

.paragraph-box{
    -fx-background-color: rgb(80, 80, 80);
}
